@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-sm;
}

.label {
  @apply block font-medium mb-1 text-gray-700;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.right-slope-card {
  clip-path: polygon(0 0,
      calc(100% - 15px) 0,
      100% 100%,
      calc(100% - 100px) 100%,
      0 100%);
}

.shadow-full-side {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Bottom shadow */
    0 -2px 4px rgba(0, 0, 0, 0.05),
    /* Top shadow */
    2px 0 4px rgba(0, 0, 0, 0.05),
    /* Right shadow */
    -2px 0 4px rgba(0, 0, 0, 0.05);
}

.box-shadow-white {
  box-shadow: 5px -5px 0 #fff;
}

.box-shadow-white2 {
  box-shadow: 5px 5px 0 #fff;
}

.box-shadow-white3 {
  box-shadow: -5px 5px 0 #fff;
}

.box-shadow-white4 {
  box-shadow: 5px 5px 0 #fff;
}

.box-shadow-lgreen {
  box-shadow: 5px 5px 0 #f9fff9;
}

.box-shadow-lgreen2 {
  box-shadow: 5px -5px 0 #f9fff9;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 14px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 14px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 14px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 14px;
}

.shadow-top {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  /* Top shadow */
}

.shadow-button {
  border-radius: 109px;
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%,
      rgba(0, 0, 0, 0.23) 0%,
      rgba(0, 0, 0, 0) 86.18%),
    radial-gradient(83.94% 83.94% at 26.39% 20.83%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%),
    #005188;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset,
    4px 16px 62px 0px rgba(0, 0, 0, 0.5);
}

.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  min-width: 200px !important;
  display: flex;
  justify-content: flex-start;
}

.marquee {
  display: flex;
  animation: marqueeAnimation 15s linear infinite;

}


/* Unique speeds for layers for parallax effect */

.marguee_rotate_2 {
  animation: marqueeAnimationOpp 20s linear infinite;
  rotate: 4deg;
}

.marguee_rotate_1 {
  animation: marqueeAnimation 20s linear infinite;
  rotate: -8deg;
}

/* Keyframes for animation */
@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueeAnimationOpp {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}


@media (min-width: 640px) {
  .marguee_rotate_2 {
    animation: marqueeAnimationOpp 20s linear infinite;
    rotate: 3deg;
  }

  .marguee_rotate_1 {
    animation: marqueeAnimation 20s linear infinite;
    rotate: -5deg;
  }
}

.speaker_image_size {
  max-height: 280px !important;
  min-height: 280px !important;
  height: 100%;
}

@media (max-width: 550px) {
  .speaker_image_size {
    max-height: 180px !important;
    min-height: 180px !important;
    height: 100%;
  }
}

.slick-active>div {
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
}


/* Preloader Styles */
#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1.5s ease-out;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #005188;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
